{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block title %} Your Cart {% endblock title %}

{% block content %}

<main class="container">
    <div class="basket">
      <div class="basket-module">
        <label for="promo-code">Enter a promotional code</label>
        <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
        <button class="promo-code-cta">Apply</button>
      </div>

      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Product</li>
          <li class="price">Price</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>

    {% for order_item in order_items %}
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="{{ order_item.product.image_url }}" alt="Placholder Image 2" class="product-frame">
          </div>

          <div class="product-details">
            <h1>
              <strong>
                <span class="item-quantity"> {{ order_item.quantity }}
                </span> x {{ order_item.product.name }}
              </strong>
            </h1>
          </div>
        </div>

        <div class="price"> {{ order_item.product.price }} </div>

        <div class="quantity">
          <form class="form update-form" action="{% url 'update_cart' order_item.product_id %}" methods="POST">
            {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                
                  <div class="input-group-prepend">
                    <a href="" class="decrement_qty"
                        data-product_id="{{ order_item.product_id }}"
                        id="decrement-qty_{{ order_item.product_id }}">
                      <span> - </span>
                    </a>
                  </div>

                    <input name="quantity" type="number" min="1" max="99"
                        class="form-control qty_input" value="{{ order_item.quantity }}"
                           id="id_qty_{{ order_item.product_id }}">

                  <div class="input-group-append">
                    <a href="" class="increment_qty"
                        data-product_id="{{ order_item.product_id }}"
                        id="increment-qty_{{ order_item.product_id }}">
                      <span> + </span>
                    </a>
                  </div>

                </div>
              </div>
          </form>
        </div>

        <div class="subtotal">{{ order_item.product.price | calc_subtotal:order_item.quantity  }}</div>

        <a class="update-link text-info">Update</a>

        <a class="remove-link remove text-danger float-right"
          id="remove_{{ order_item.product_id }}">
          Remove
        </a>

      </div>
    {% endfor %}
    </div>

    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"> {{ product_count }}</span> Products in your Bag</div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal"> {{ total }}</div>
          <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo"></div>
          </div>
        </div>

        <div class="summary-delivery">
          <select name="delivery-collection" class="summary-delivery-selection">
              <option value="0" selected="selected">Select Collection or Delivery</option>
             <option value="collection">Collection</option>
             <option value="first-class">Royal Mail 1st Class</option>
             <option value="second-class">Royal Mail 2nd Class</option>
             <option value="signed-for">Royal Mail Special Delivery</option>
          </select>
        </div>

        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total"> {{ grand_total }} </div>
        </div>

        <div class="summary-checkout">
          <button class="checkout-cta">Go to Secure Checkout</button>
        </div>
      </div>
    </aside>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <!--<script type="text/javascript" src="{% static 'cart/js/cart.js' %}"></script> -->
  {% include 'cart/includes/qty_input.html' %}
{% endblock %}
