{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block title %} Cart {% endblock title %}

<!--{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}-->

{% block content %}

<!-- BREADCRUMB -->
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="{% url 'home' %}"> Home </a></li>
                <li class="active"> Shopping Cart </li>
            </ul>
        </div>
    </div>
</div>

<!-- THE CART -->
<main class="container mt-20">
    <div class="row">
        <div class="col">
            <h3 class="cart-page-title"> Your shopping cart </h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if order_items %}
            <br>
            <div class="table-responsive-md">
                <!-- CART TABLE -->
                <table class="table table-border-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <!-- RENDERED ITEMS -->
                    {% for order_item in order_items %}
                    <tr>
                        <td class="w-25">
                            <img class="w-50" src="{{ order_item.product.image_url }}"
                                alt="{{ order_item.product.name }}">
                        </td>

                        <td class="">
                            <p class="my-0"> {{ order_item.product.name }} </p>
                        </td>

                        <td class="">
                            <p class="my-0">€ {{ order_item.product.price }} </p>
                        </td>

                        <!-- QTY INPUT FORM - BOUTIQUE -->
                        <td class="py-3">
                            <form class="form update-form" method="POST" action="{% url 'update_cart' order_item.product_id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-5 mt-5">
                                        <div class="form-group">
                                            <div class="input-group">

                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black"
                                                        data-product_id="{{ order_item.product_id }}"
                                                        id="decrement-qty_{{ order_item.product_id}}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>

                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ order_item.quantity }}" min="1" max="99"
                                                    data-product_id="{{ order_item.product_id }}"
                                                    id="id_qty_{{ order_item.product_id }}">

                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-product_id="{{ order_item.product_id  }}"
                                                        id="increment-qty_{{ order_item.product_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-product text-danger float-right" id="remove_{{ order_item.product_id }}"><small>Remove</small></a>

                        </td>

                        <td class="py-3"> € {{ order_item.product.price | calc_subtotal:order_item.quantity }}  </td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


    <!-- NAV BUTTONS  -->
    <div class="row">
        <div class="col-lg-12">
            <div class="cart-shiping-update-wrapper">
                <div class="cart-shiping-update">
                    <a href="{% url 'home' %}">Continue Shopping</a>
                </div>
                <div class="cart-clear">
                    <button>Update Shopping Cart</button>
                    <a href="#">Clear Shopping Cart</a>
                </div>
            </div>
        </div>
    </div>

    <!-- VOUCHER DISCOUNT -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="discount-code-wrapper">
                <div class="title-wrap">
                    <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                </div>
                <div class="discount-code">
                    <p>Enter your coupon code if you have one.</p>
                    <form>
                        <input type="text" required="" name="name">
                        <button class="cart-btn-2" type="submit">Apply Coupon</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- ORDER SUMMARY -->
        <div class="col-lg-4 col-md-6">
            <div class="grand-totall">
                <div class="title-wrap">
                    <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                </div>
                <h5>Total products <span> € {{ total }} </span></h5>
                <div class="total-shipping">
                    <h5>Total shipping</h5>
                    <ul>
                        <li><input type="checkbox"> Standard
                            <span> € {{ delivery|floatformat:2 }} </span>
                        </li>

                        <li><input type="checkbox"> Express <span>$30.00</span></li>
                    </ul>
                </div>

                <h4 class="grand-totall-title">Grand Total <span> € {{ grand_total|floatformat:2 }}</span></h4>
                <a href="#">Proceed to Checkout</a>

            </div>
        </div>
    </div>


    {% else %}
    <p class="lead mb-5">Your cart is empty.</p>
    <a href="{% url 'home' %}" class="btn bg-purple btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>

        <span class="text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}

    </div>
    </div>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input.html' %}

<script type="text/javascript">
    // update qty on click 
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    //Delete
    $('.remove-product').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var productId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${productId}/`;
        var data = {'Csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function () {
            location.reload();
        })
    });

</script>
{% endblock %}