{% extends 'base.html' %}
{% load static %}

{% block title %} Your Cart {% endblock title %}

{% block content %}

<section>
	<div class="container mb-4">
        <h2 class="cart_head m-4 text-center"> Your Shopping Cart </h2>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <!-- ITEM LIST -->
                    <tbody>
					{% for order_item in order_items %}
                        <tr>
                            <td><img class="cart_p_image product-frame" src="{{ order_item.product.image_url }}" /> </td>
                            <td> {{ order_item.product.name }}</td>

                            <td>
								<form class="form update-form d-flex justify-content-left" action="{% url 'update_cart' order_item.product_id %}" method="POST">
								{% csrf_token %}
								
									<input type="number" name="quantity" value="{{ order_item.quantity }}" 
                                            min="1" max="99" aria-label="add_qty" class="form-control qty_input"
											style="width: 60px">
										
										<button class="btn btn-primary btn-sm my-0" data-product_id="{{ order_item.product_id }}" 
												id="id_qty_{{ order_item.product_id }}" type="number">
											<i class="fa fa-refresh" aria-hidden="true"></i>
										</button>
										
									<input type="hidden" name="redirect_url" value="{{ request.path }}">

								</form>
                            </td>
                            <!-- PRICE OF ITEMS (ALL) -->
                            <td class="text-right">€ {{ order_item.product.price }}</td>
                            <!-- REMOVE BUTTON -->
                            <td class="text-right">
                                <div class="remove">
                                    <button class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">€ {{ total }}</td>
                        </tr>

                        <tr>
                        {% if free_delivery_allowance > 0 %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">€ {{ free_delivery_delta }}</td>
                        {% endif %}
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>€ {{ grand_total|floatformat:2 }}</strong></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- NAV BUTTONS -->
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-info">Continue Shopping</button>
                </div>

                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock%}

{% block postloadjs %}
    {{ block.super }}

{% endblock %}