{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block title %} Checkout {% endblock title %}

{% block content %}

<div class="breadcrumb-area pt-20 pb-20 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'home' %}"> Home</a>
                </li>
                <li class="active"> Checkout </li>
            </ul>
        </div>
    </div>
</div>

<section class="checkout-area pt-40 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="billing-info-wrap">
                    <h3>Billing Details</h3>

                    <div class="row">
                        <div class="col-lg-12 col-md-6 mr-10">
                            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                                {% csrf_token %}
                                <fieldset class="rounded billing-info mb-2">
                                    {{ checkout_form.full_name | as_crispy_field }}
                                    {{ checkout_form.email | as_crispy_field }}
                                </fieldset>

                                <fieldset class="roundedmb-5">
                                    <legend class="fieldset-label billing-info delivery">Delivery</legend>
                                    {{ checkout_form.phone_number | as_crispy_field }}
                                    {{ checkout_form.address | as_crispy_field }}
                                    {{ checkout_form.address2 | as_crispy_field }}
                                    {{ checkout_form.town_or_city | as_crispy_field }}
                                    {{ checkout_form.county | as_crispy_field }}
                                    {{ checkout_form.postcode | as_crispy_field }}
                                    {{ checkout_form.country | as_crispy_field }}

                                    <div class="form-check checkout-account form-check-inline mr-0 mb-4">

                                        {% if user.is_authenticated %}
                                        <label class="form-check-label" for="id-save-info">
                                            Save this delivery information to my profile</label>
                                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info"
                                            name="save-info" checked>
                                        {% else %}

                                        <label class="form-check-label" for="id-save-info">
                                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a>
                                            or
                                            <a class="text-info" href="{% url 'account_login' %}">login</a>
                                            to save this information

                                        </label>
                                        {% endif %}
                                    </div>
                                </fieldset>

                                <!-- STRIPE ELEMENT -->
                                <fieldset class="">
                                    <legend class="fieldset-label text-black w-auto payment"> Card Payment </legend>
                                    <!-- A Stripe card element will go here -->
                                    <div class="mb-3" id="card-element"></div>
                                    <!-- Used to display form errors -->
                                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                                </fieldset>

                                <button class="Place-order float-right mt-25" id="submit-button">
                                    <span class="btn btn-hover">Place Order
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ORDER SUMMARY -->
            <div class="col-md-6">
                <div class="your-order-area">
                    <h3>Your order</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                            <div class="your-order-top">
                                <ul>
                                    <li>Product</li>
                                    <li>Subtotal</li>
                                </ul>
                            </div>
                            <div class="your-order-middle">
                                {% for order_item in order_items %}
                                <ul>
                                    <li><span class="order-middle-left">{{ order_item.product.name }} X
                                            {{ order_item.quantity }}</span>
                                        <span class="order-price">€ {{ order_item.product.price }} </span>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>

                            <div class="your-order-total">
                                <p class="your-order-shipping">Delivery : {{ delivery }} </p>
                            </div>

                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">Total</li>
                                    <li>€ {{ total }}</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key | json_script:"id_stripe_public_key" }}
{{ client_secret | json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe.js' %}"></script>

{% endblock %}