/* BOOTSTRAP TOASTS */ 
.container-messages {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Boutique */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}


/*-- NAV --*/

.header-right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: auto;
}

.header-right-wrap .same-style {
  margin-left: 14px;
  position: relative;
}

/*-- PRODUCT DETAIL PG --*/
input .qty_input {
  width: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.decrement-qty:hover,
.increment-qty:hover {
  background-color: #a749ff;
  color: #fafafa;
}


/*-- MEDIA QUERIES --*/
@media only screen and (max-width: 767px) {
    .header-right-wrap {
      margin-top: 2px;
      margin-right: 25px;
      overflow-x: hidden;
    }
 }

@media only screen and (min-width: 768px) and (max-width: 991px) {
.header-right-wrap {
    margin-top: 0px;

    }
}