{% load static %}

<div class="suppoer-area pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="support-wrap mb-30 support-1">
                    <div class="support-icon">
                        <img class="animated" src="{% static 'images/support-1.png' %}" alt="customer support icon">
                    </div>
                    <div class="support-content">
                        <h5>Free Shipping</h5>
                        <p>Free shipping on all orders over €150</p>
                        <small class="text-danger">Europe Only</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="support-wrap mb-30 support-2">
                    <div class="support-icon">
                        <img class="animated" src="{% static 'images/support-2.png' %}" alt="customer support icon">
                    </div>
                    <div class="support-content">
                        <h5>Support 24/7</h5>
                        <p>Customer Service available</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="support-wrap mb-30 support-3">
                    <div class="support-icon">
                        <img class="animated" src="{% static 'images/support-3.png' %}" alt="customer support icon">
                    </div>
                    <div class="support-content">
                        <h5>Money Return</h5>
                        <p>Money back guarantee </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="support-wrap mb-30 support-4">
                    <div class="support-icon">
                        <img class="animated" src="{% static 'images/support-4.png' %}" alt="customer support icon">
                    </div>
                    <div class="support-content">
                        <h5>Order Discount</h5>
                        <p>Discounts available on select products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>