<footer>
  <div class="footer-social text-center">
      <h4>Stay Connected</h4>
      <ul>
          <li>
              <a href="#">
                  <span class="fa fa-facebook icon_facebook footer-icon"></span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="fa fa-twitter icon_twitter footer-icon"></span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="fa fa-github icon_github footer-icon"></span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="fa fa-google-plus icon_g_plus footer-icon"></span>
              </a>
          </li>
      </ul>
  </div>

  <div class="sub-footer bg-dark text-white mt-5 p-5">
    <div class="container">
      <p class="lead text-center">Copyright &copy; 2020 E-Store</p>
  </div>
</footer>