{% load static %}

<header class="header-area clearfix header-res-padding sticky-bar transparent-bar">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img alt="company logo" src="{% static 'images/eStorelogo.png' %}"
                            width="130" height="50">
                    </a>
                </div>
            </div>

            <!-- MIDDLE HEAD / SITE NAV -->
            <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="">Home </a></li>
                            <li><a href=""> Shop </a></li>
                            <li><a href="">Blog </a></li>
                            <li><a href=""> About </a></li>
                            <li><a href=""> Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- SEARCH FUNCTION -->
            <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                <div class="header-right-wrap">
                    <div class="same-style header-search">
                        <a class="search-active" href="#"><i class="fas fa-search"></i></a>
                        <div class="search-content">
                            <form action="#">
                            {% csrf_token %}
                                <input type="text" placeholder="Search">
                                <button class="button-search"><i class="fas fa-search"></i></button>
                            </form>
                        </div> 
                    </div>

                    <!-- USER ACCOUNT -->
                    <div class="same-style account-satting">
                        <a class="account-satting-active" href="#"><i class="fas fa-user"></i></a>
                        <div class="account-dropdown">
                            <ul>
                                <li><a href="">Login</a></li>
                                <li><a href="">Register</a></li>
                                <li><a href="">Wishlist  </a></li>
                                <li><a href="">my account</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- WISHLIST -->
                    <div class="same-style header-wishlist">
                        <a href=""><i class="fas fa-heart"></i></a>
                    </div>

                    <!-- SHOPPING CART COUNTER -->
                    <div class="same-style cart-wrap">
                        <button class="icon-cart">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="count-style"> {{ product_count }}</span>
                        </button>

                        <!-- POPOVER NAV CART -->
                        <div class="shopping-cart-content">
                        {% for order_item in order_items %}
                            <ul>
                                <li class="single-shopping-cart">
                                    <div class="shopping-cart-img">
                                        <a href="#"><img class="img-thumbnail"
                                            width="55" height="55"
                                            alt="{{ order_item.product.name }}" 
                                                src="{{ order_item.product.image_url }}">
                                        </a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="#"> {{ order_item.product.name }} </a></h4>
                                        <h6>Qty: {{ order_item.quantity }} </h6>
                                        <span> € {{ order_item.product.price }} </span>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fa fa-times-circle"></i></a>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                            <div class="shopping-cart-total">
                                <h4>Shipping : <span>€ 20.00</span></h4>
                                <h4>Total : <span class="shop-total"> € {{ grand_total }} </span></h4>
                            </div>
                            <div class="shopping-cart-btn btn-hover text-center">
                                <a class="default-btn" href="{% url 'view_cart' %}">view cart</a>
                                <a class="default-btn" href="checkout.html">checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MOBILE NAV -->
        <div class="mobile-menu-area">
            <div class="mobile-menu">
                <nav id="mobile-menu-active">
                    <ul class="menu-overflow">
                        <li><a href="">HOME</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
