{% load static %}

<main class="product-area pb-60 section-padding-1">
    <div class="container-fluid">
        <div class="section-title-2 text-center mb-60">
            <h2> OUR PRODUCTS </h2>
        </div>

        <div class="tab-content jump">
            <div class="tab-pane" id="product-1">
                <div class="row">
                {% for product in products %}
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap mb-35">
                        <!-- PRODUCT IMAGE -->
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                                    <img class="hover-img img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </a>
                                
                                <!--<span class="pink">-10%</span>-->
                                <!-- PRODUCT ACTIONS -->
                                <div class="product-action">
                                    <div class="pro-same-action pro-wishlist">
                                        <a title="Wishlist" href="wishlist.html"><i class="fas fa-heart"></i></a>
                                    </div>
                                    <div class="pro-same-action pro-cart">
                                        <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                    </div>
                                    <div class="pro-same-action pro-quickview">
                                        <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT RATINGS -->
                            <div class="product-content text-center">
                                <h3><a href="product-details.html">{{ product.name }}</a></h3>
                                <div class="product-rating">
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <!-- PRODUCT PRICE -->
                                <div class="product-price">
                                    <span> {{ product.price }}</span>
                                    <span class="old">$ 60.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
