{% extends 'base.html' %}
{% load static %}

{% block title %} {{ product.name }} {% endblock title%}

{% block content %}

  <!--PRODUCT DETAILS -->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row">
        <div class="col-md-6 mb-4">

          <img src="{{ product.image_url }}" class="img-fluid mt-5" alt="{{ product.name }}">

        </div>

        <div class="col-md-6 mb-4">

          <!-- CARD CONTENT -->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ product.category }}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a>
            </div>

				{% if product.discount %}
					<p class="lead">
					<span class="mr-1">
						<del>€ {{ product.price }}</del>
					</span>
          <br>
					<span>€ {{ product.discount }}</span>
					</p>
				{% else %}
					<p class="lead">
					<span class="mr-1">
						€ {{ product.price }}
					</span>
					</p>
				{% endif %}

            <p class="lead font-weight-bold">Description:</p>

            <p>{{ product.description }}.</p>
          <!-- ITEM QTY INPUT FORM -->
            <form class="form d-flex justify-content-left" action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
              
              <input type="number" name="quantity" value="1" min="1" max="99" aria-label="add_qty" class="form-control qty_input" style="width: 100px">
                
                <button class="btn btn-primary btn-md my-0 p" data-product_id="{{ product.id }}" 
                    id="decrement-qty_{{ product.id }}" type="submit">
                      Add to cart
                  <i class="fas fa-shopping-cart ml-1"></i>
                </button>
                
              <input type="hidden" name="redirect_url" value="{{ request.path }}">

            </form>

          </div>
        </div>
      </div>
	</main>
		

{% endblock %}