{% extends 'base.html' %}
{% load static %}

{% block title %} {{ product.name }} {% endblock title%}

{% block content %}


<!-- BREADCRUMBS -->
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'home' %}"> Home </a>
                </li>
                <li class="active">Shop Details </li>
            </ul>
        </div>
    </div>
</div>


<!--PRODUCT DETAILS -->
<main>
    <div class="shop-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details">
                        <div class="product-details-img">
                            <div class="tab-content jump">
                            
                            <!-- PRODUCT IMAGE -->
                                <div id="shop-details-1" class="tab-pane large-img-style">
                                    <img class="img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </div>
                            </div>

                            <!-- ADDITIONAL PHOTOS -->
                            <div class="shop-details-tab nav">
                                <a class="shop-details-overly" href="#shop-details-1" data-toggle="tab">
                                    <img src="" alt="">
                                </a>
                                <a class="shop-details-overly active" href="#shop-details-2" data-toggle="tab">
                                    <img src="" alt="">
                                </a>
                                <a class="shop-details-overly" href="#shop-details-3" data-toggle="tab">
                                    <img src="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PRODUCT INFO -->
                <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2 class="mt-20"> {{ product.name }} </h2>

                    <div class="product-details-price">
                        <span> € {{ product.price }} </span>
                        <span class="old"> € 20.00 </span>
                    </div>

                    <!-- REVIEW / RATINGS -->
                    <div class="pro-details-rating-wrap">
                        <div class="pro-details-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>

                        <span><a href="#">3 Reviews</a></span>
                    </div>

                    <!-- PRODUCT DESCRIPTION -->
                    <p> {{ product.description }} </p>
                    <div class="pro-details-list"></div>

                    <!-- QUANTITY INPUT -->
                    <div class="pro-details-quality">
                        <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}    
                            <div class="form-group cart-plus-minus">
                                <div class="input-group">

                                    <!-- DECREASE QUANTITY -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- INPUT BOX -->
                                    <input class="cart-plus-minus-box qty_input"
                                        type="number" name="quantity" min="1" max="99" value="1"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">

                                    <!-- INCREASE QUANTITY -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>

                                    
                                </div>
                                <input type="submit" class="pro-details-cart btn-hover" value="Add to Cart">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>

                        </form>

                        <!--<div class="pro-details-cart btn-hover">
                            <a href="#">Add To Cart</a>
                        </div>-->

                        <div class="pro-details-wishlist">
                            <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>
                        </div>
                        <div class="pro-details-compare">
                            <a href="#"><i class="pe-7s-shuffle"></i></a>
                        </div>
                    </div>

                    <!-- CATEGORY -->
                    <div class="pro-details-meta">
                        <span>Category: {{ product.category }}</span>
                    </div>
                    <!-- PRODUCT TAGS -->
                    <div class="pro-details-meta">
                        <span>Tag:  </span>
                    </div>
                    <!-- LINK SHARES -->
                    <div class="pro-details-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p fa-2x"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
