{% load static %}
<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="toast-body bg-white">
        <div class="row">
            <div class="col mr-2">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>

        {% if grand_total %}
        <div class="bag-notification-wrapper">
            {% for order_item in order_items %}
            <div class="row">
                <div class="col-3 my-1">
                    <img class="w-100" alt="{{ order_item.product.name }}" src="{{ order_item.product.image_url }}">
                </div>

                <div class="col-9">
                    <a href="">
                        <i class="float-right mt-0 fa fa-times-circle"></i>
                    </a>
                    <p> {{ order_item.product.name }} </p>
                    <p>Qty: {{ order_item.quantity }} </p>
                    <span> € {{ order_item.product.price }} </span>
                
                </div>
            </div>
            {% endfor %}
        </div>
            

        <div class="row">
            <div class="col">
                <p class="mr-5"><strong>Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                    <span class="float-right"> € {{ total|floatformat:2 }} </span>
                    </strong>
                </p>
            </div>

            <div class="shopping-cart-btn btn-hover text-center">
                <a class="default-btn" href="{% url 'view_cart' %}">view cart</a>

                <a class="default-btn" href="{% url 'checkout' %}">checkout</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>